h1,h2{
	color:#035CB0;
	text-transform: uppercase;
	text-align: right;
	font-family: arial
	}
h2{
	color:white;
 	background-color: #035CB0;
 }
p{
		text-align: justify;
}
p#para1{
	margin-left: 5%
}
p::first-letter {text-transform: uppercase;}
li::first-letter {text-transform: uppercase;}


