<form class="form-signin" action="/cv" method="POST">
    <h2 class="form-signin-heading">Iniciar Sesion</h2>
	<label for="inputEmail" class="sr-only">Correo</label>
	<input type="text" id="inputEmail" class="form-control" placeholder="Correo" name="usuario" required autofocus>
	<label for="inputPassword" class="sr-only">Contraseña</label>
	<input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name="contrasena" required>
	<button class="btn btn-lg btn-success btn-block" type="submit">Iniciar</button>
</form>
