/*
	Archivo: style.css;
	Autor: Carlos Jaramillo;
	Descripcion: Uso de Estilos para el taller Elaboracion Hoja de Vida;
*/

/*selector Universal, tipo de letra Open Sans*/
* {
	font-family: "Open Sans";
}
/*selector de tipo o etiqueta*/
html, body {
    width: 100%;
}
table {
    margin: 0 auto;
}
img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/*selector descendente*/
figure img {
	-webkit-filter: sepia(30%);
	filter: sepia(30%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
a#cuentas{
	text-decoration: none;
}
a:hover{color: #035CB0}
a#cuentasGit{
		text-transform: uppercase;
		text-decoration:none;
}

h1{
	  color:blue;
	  text-transform: capitalize;
	  /*Box Shadow - (Optional)*/
	  -moz-box-shadow:< 2px 2px 15px #ccc;
	  -webkit-box-shadow: 2px 2px 15px #ccc;
	  box-shadow: 2px 2px 15px #ccc;
}
h2{
	text-align: left;
	border-bottom: 3px solid #035CB0; 
	text-transform: capitalize;
}

/*selector de clase*/
table.miFormato tr td { 
	font-size: 13px;
	margin: 0 auto;
	 }
/*selector id*/
 #correo{
	text-transform: lowercase;
}
td#Carrera:first-letter{
	text-transform: uppercase;
}
td.InfoCont {
	text-align:center;
}
/*tr:hover {background-color: #f5f5f5 }*/
td.indice {
	text-transform: capitalize;
	list-style-type: none;
    margin-right:0.5%;
    margin-left:0.5%;
    border: 15%;
    background-color: #035CB0;
    text-decoration: none;
}
strong {
	font-size: 19px;
	text-transform: capitalize;
}
td.indice a {
	display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-right:0.5%;
}
td.indice:hover, td.indice:active {
	background-color: #1E90FF;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin-left: 50pt;	
  margin-right: 50pt;
  position: relative;
  
  /*Font*/
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: center;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #035CB0;
  border-right: 2px solid #035CB0;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}
p#PerfilProfesional{
	font-size: 16px;
	line-height: 1.2;
  	text-align: justify;
  	margin-left: 60pt;	
  	margin-right: 60pt
}

p::first-letter{
	text-transform: uppercase;
}

li:first-letter{ text-transform: uppercase; }


li,dt {
  	text-align: justify;
  	margin-left: 40pt;	
  	margin-right: 40pt

}



ol {list-style-type: "I"}
dd {
  	margin-left: 60pt;	
  	margin-right: 60pt
}

