body{
	height: 1500px;
}

div.Barra{
	width: 100%;
	background-color: #4264AB;
	/*position: absolute;*/
	/*position: fixed;*/
	position: fixed;
	top: 0;
}

div.Menu{
	margin-top: 2%;
}
/*div.Menu:hover{
	position: relative;
	left: 200px;
	}*/
