<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/custom.css">

        {{{block "stylesheets"}}}
    </head>
    <body>
        <div class="row">
            <div class="col-md-12 text-center"><h1>[Bookmarks]</h1></div>
        </div>
        {{{body}}}

        <script type="text/javascript" src="/js/libraries/jquery.js"></script>
        <script type="text/javascript" src="/js/custom/bookmark.js"></script>
        {{{block "scripts"}}}
    </body>
</html>
