/*#613DFF -- azul1
  #D1C6FF -- azulFondo
  #1904B2 -- azulCabecera
  #FFE100 -- amarillo
*/

body{
	font-family: "Open Sans";
	background-color: darkgray;
}
.Estudios .header{
	clear:both;
	text-align: center;
	background-color: darkgray;
	color: white;
	width: 100%;
	border-color:#613DFF;
	border-style: solid; 
}
.Estudios {
	line-height: 100%;
}
.Estudios .header .informacion .logo{
	float: left;
	width: 8%;
	position: relative;
	left: 15%;
}
.Estudios .header .informacion .logo:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-filter: opacity(100%);
	filter: opacity(100%);
}

.Estudios .header .informacion .Titulo{
	text-transform: capitalize;
	color: Black;
}
.Estudios .header .informacion .cuentasGit, .Estudios .header .informacion .cuentasRedes, .Estudios .header .cuentasGit, .Estudios .proyectos .linkDestino{
	color: #613DFF;
	text-decoration: none;
}

.Estudios .header .informacion .cuentasGit:hover, .Estudios .header .informacion .cuentasRedes:hover, .Estudios .header .cuentasGit:hover, .Estudios .proyectos .linkDestino:hover{
	color: #FFE100;
	text-decoration: none;
}
.Estudios .header .informacion .cuentasRedes{
	margin: 2%;
	position: relative;
	left: 4%;
}
.Estudios .header, .Estudios .Content, .Estudios .footer{
	position: relative;
	left: 20%;
	width: 70%;
}
.Estudios a{
	text-decoration: none;
}
.Estudios .footer {
	clear: both;
	border-style: solid;
	text-align: right;
	background-color: black;
	color: white;
}
.Estudios img:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.Estudios .leftBar .btn span{
	display: none;
}
.Estudios .leftBar .btn:hover span{
  	display: inline;
  	color: #FFE100;
  	font-size: 18px;
}
.Estudios .leftBar{
	position: fixed;
	float: left;
	width: 20%;
	left: 5%;
}

.Estudios .Content .Seccion{
	border-bottom: 3px solid #613DFF; 
}
.Estudios .primeraLista{
    list-style-image: url("../img/book-icon-circle-16.png");    
}
.Estudios .segundaLista{
    list-style-image: url("../img/book-icon-polygon-16.png");
}
.Estudios .header .informacion .Subtitulo{
	font-size: 14px;
}
.Estudios .imagenes .slide {
    top: 0;
    opacity: 0;
    display: block;
    position: absolute;

    transform: scale(0);
    transition: all .7s ease-in-out;
}
.Estudios .imagenes .slides {
    padding: 0;
    width: 609px;
    height: 530px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.Estudios .imagenes .slides input { 
	display: none; 
}

.Estudios .imagenes .slide-container { 
    display: block; 
    text-align: center;
}

.Estudios .imagenes .slide img {
    width: 100%;
    height: 100%;
}

.Estudios .imagenes .nav label {
    width: 20%;
    height: 100%;
    display: none;
    position: absolute;
	opacity: 0;
    cursor: pointer;

    color: #FFF;
    font-size: 156pt;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.Estudios .imagenes .nav label:hover { opacity: 1; }

.Estudios .imagenes .nav .next { right: 0;}

.Estudios .imagenes input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

}

.Estudios .imagenes input:checked + .slide-container .nav label { display: block; }

.Estudios .imagenes .nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}
.Estudios .imagenes .nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 90%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.Estudios .imagenes .nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

.Estudios .imagenes #pr1-img-1:checked ~ .nav-dots #pr1-img-dot-1,
.Estudios .imagenes #pr1-img-2:checked ~ .nav-dots #pr1-img-dot-2,
.Estudios .imagenes #pr1-img-3:checked ~ .nav-dots #pr1-img-dot-3,
.Estudios .imagenes #pr1-img-4:checked ~ .nav-dots #pr1-img-dot-4,
.Estudios .imagenes #pr1-img-5:checked ~ .nav-dots #pr1-img-dot-5,
.Estudios .imagenes #pr1-img-6:checked ~ .nav-dots #pr1-img-dot-6,
.Estudios .imagenes #pr1-img-7:checked ~ .nav-dots #pr1-img-dot-7,
.Estudios .imagenes #pr1-img-8:checked ~ .nav-dots #pr1-img-dot-8, 
.Estudios .imagenes #pr2-img-1:checked ~ .nav-dots #pr2-img-dot-1,
.Estudios .imagenes #pr2-img-2:checked ~ .nav-dots #pr2-img-dot-2,
.Estudios .imagenes #pr2-img-3:checked ~ .nav-dots #pr2-img-dot-3,
.Estudios .imagenes #pr2-img-4:checked ~ .nav-dots #pr2-img-dot-4, 
.Estudios .imagenes #pr3-img-1:checked ~ .nav-dots #pr3-img-dot-1,
.Estudios .imagenes #pr3-img-2:checked ~ .nav-dots #pr3-img-dot-2,
.Estudios .imagenes #pr3-img-3:checked ~ .nav-dots #pr3-img-dot-3,
.Estudios .imagenes #pr3-img-4:checked ~ .nav-dots #pr3-img-dot-4{
    background: rgba(0, 0, 0, 0.8);
}
